<% layout('./boilerplate') -%>
<div class=" py-8 px-8 mt-5 rounded-md  bg-slate-800 md:w-1/2 h-auto">
    <h5 class="text-center text-xl">Read & Update</h5>
    <form class="flex flex-col" action="/updateNote/<%= note._id %>" method="post">
        <label class="text-xl" for="Title">Title:</label>
        <input class="bg-transparent border border-slate-700 py-2 px-2 rounded-md w-72" type="text" name="title" value="<%= note.title %>" placeholder="Type Here"><br>
        <label class="text-xl" for="notes">Notes:</label>
        <input class="bg-transparent border border-slate-700 py-2 px-2 rounded-md resize-none" type="text" name="note" value="<%= note.note %>" placeholder="What's on your mind ?">
        <div class="buttons flex justify-between">
            <input class="btn btn-warning btn-sm w-20 mt-2" type="submit" value="Update">    
            <a class="btn glass btn-sm w-20 mt-2" href="/dashboard">Cancel</a>
        </div>
    </form>
</div>